

body{
  text-align: center;
  background-image: url("bg.jpg");
  background-size: cover;
}

ul {
  list-style: none;
}

#canvas {

  background: #23262b;
  border: 5px solid #00CC00;
  display: inline-block;
  margin-top: 50px;
}
