

body{
  text-align: center;
  background-image: url("bg.jpg");
  background-size: cover;
}
#canvas {
  /*background-image: url("../images/bg.jpg");*/
  background: #23262b;
  border: 5px solid #00CC00;
  display: inline-block;
  margin-top: 50px;
}
