

body {
  text-align: center;
  background-image: url("bg.jpg");
  background-size: cover;
}

.main {
  display: inline-block;
}
ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

span {
  font-family: "Press Start 2P";
  color: #fff;
  font-size: 14px;
}

#canvas {
  background: #23262b;
  border: 5px solid #00CC00;
  display: inline-block;
  margin-top: 50px;
}

.game-wrapper {
  position: relative;
  display: inline-block;
}

.submit,
.restart {
  position: absolute;
  padding: 5px 20px;
  left: 58.8%;
  transform: translateX(-50%);
  top: 64.8%;
  line-height: 1.3;
  cursor: pointer;
  display: none;
}

.restart {
  left: 41.5%;
  top: 64.5%;
  padding: 15px 20px;
}

.leaderboard-title {
  margin-top: 30px;
  font-size: 22px;
  display: block;
}

.leaderboard-list {
  width: 400px;
  margin: 20px auto;
  padding: 0;
}

.leaderboard-list > li {
  margin-bottom: 10px;
  position: relative;
  left: -5px;
  font-family: "Press Start 2P";
  color: #fff;
}
.leaderboard-list > li:first-child span:first-child::after {
  content: "";
  background-image: url("../assets/images/superman_shield.png");
  background-size: 28px 21px;
  width: 28px;
  height: 21px;
  display: inline-block;
  position: absolute;
  top: -5px;
  margin-left: 3px;
}

.leaderboard-list span:first-child {
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 300px;
}

.leaderboard-list span.padding {
  padding-left: 12px;
}

.leaderboard-list span:last-child {
  float: right;
}
